/* styles.css */
:root {
	/* CSS HEX */
--alabaster-grey: #d8e2dcff;
--powder-petal: #ffe5d9ff;
--pastel-pink: #ffcad4ff;
--cherry-blossom: #f4acb7ff;
--dusty-mauve: #9d8189ff;
}

body {
font-family: "Helvetica", "Arial", sans-serif;
background-color: var(--powder-petal);
}

h1 {
	font-size: 10em;
	color: var(--cherry-blossom); 
}

p {
	font-size: 3em;
	color: var(--pastel-pink);
} 
